/* Header Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Other Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins&display=swap');


:root {
  --dark-bg-color: #09090b;
  --dark-navbar-color: #18181b;
  --dark-sidebar-hover-color: #161617;
  --dark-sidebar-selected-color: #62baf3;
  --dark-border-color: #222224;
  --dark-border-separator-color: #303032;
}


/*

#
#
#   NAVBAR CODE
#
#

 */

html, body { margin: 0; padding: 0; }


/* Style the navbar */
#navbar {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: var(--dark-navbar-color);
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 25px;
  width: 100%;

}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*
#
#
#   SIDEBAR CSS
#
#
*/

.sidebar {
  /*margin-top: 75px;*/
  top: 75px;
  padding-top: 30px;
  color: white;
  /*background-color: black;*/
  background-color: var(--dark-bg-color);

  position: fixed;
  height: calc(100% - 75px);
  width: 275px;
}

/* List containing all sidebar boxes */
.sidebar ul {
  margin-top: -5px;
}

/* Each Sidebar Box */
.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 110%;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  margin-left: -25px;
  margin-top: -5px;
}

/* Sidebar Image */
.sidebar svg {
  padding-right: 12px;
  padding-left: 10px;
  color: #71717a;
}

/* 'a' in each sidebar box */
.sidebar ul li a {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 7px;
}

/* Sidebar element that is being hovered */
.sidebar ul li a:hover {
  background-color: var(--dark-sidebar-hover-color);
}

/* Sidebar element that is selected */
.sidebar ul li.selected a {
  background-color: var(--dark-sidebar-hover-color);
  color: var(--dark-sidebar-selected-color);
}

/* SVG of the sidebar element that is selected */
.sidebar ul li.selected svg {
  color: var(--dark-sidebar-selected-color);
}


/*
#
#
#   PAGECONTENT CSS
#
#
*/

#page-content {
  /* Move box to the left and down (navbar and sidebar) */
  left: calc(275px + 225px);
  top: 73px;

  /*margin-top: 30px;*/
  width: 60%;
  height: 90%;
  position: absolute;

  /*display: flex;*/

}

#page-content.page-path {
  height: 20px;
  width: 20px;
  /*line-height: 20px;*/
}

#page-content.page-path svg {
  font-size: small;
}


#page-content #content {
  overflow-y: scroll;
  height: 100%;

  /*Hide Scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#page-content p {
  font-size: 16px;
}

#page-content hr {
  width: 99%;
  border: 1px solid gray;
  /* Center the line */
  margin: auto;
}


/*
#
#
#   COLLAPSABLE BOX
#
#
*/
/* Wrap Collapsible */
#page-content #content .wrap-collapsible {
  margin-bottom: 1.2rem;
}

/* Hide the Checkbox */
#page-content #content input[type='checkbox'] {
  display: none;
}

/* Label Toggle */
#page-content #content .lbl-toggle {
  display: block;
  font-weight: bold;
  /* Pad the left side a bit more */
  padding: 1rem 1rem 1rem 25px;
  background: var(--dark-navbar-color);
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.25s ease-out;
  position: relative; /* Add relative positioning */
  height: 40px; /* Set the height */
  line-height: 40px; /* Center the text vertically */
  border: 1px var(--dark-border-color) solid;
}

#page-content #content .lbl-toggle:hover {
  /* Slightly lighter arrow color on hover */
  --arrow-color: lightgray;
}

/* Default arrow color */
.lbl-toggle::after {
  content: '';
  display: inline-block;
  width: 20px; /* Set appropriate width */
  height: 20px; /* Set appropriate height */
  background: url('data:image/svg+xml;utf8,<svg class="fi-icon-btn-icon h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray" aria-hidden="true" data-slot="icon"><path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/></svg>') no-repeat center center;
  vertical-align: middle;
  transition: transform .2s ease-out, filter .2s ease-out;
  position: absolute; /* Position absolutely */
  right: 1rem; /* Move to the right */
  top: 50%;
  transform: translateY(-50%) rotate(0deg); /* Center vertically and point down */
  filter: brightness(1); /* Default brightness */
}

/* Rotate the Arrow When Checked */
#page-content #content .toggle:checked + .lbl-toggle::after {
  transform: translateY(-50%) rotate(180deg); /* Point up */
}

/* Lighten arrow color on hover */
#page-content #content .lbl-toggle:hover::after {
  filter: brightness(1.3); /* Slightly lighter */
}

/* Collapsible Content */
#page-content #content .collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .10s ease-in-out;
}

#page-content #content .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

#page-content #content .toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Content inside collapsible */
#page-content #content .collapsible-content .content-inner {
  background: var(--dark-navbar-color);
  border-top: 1px var(--dark-border-separator-color) solid;
  border-right: 1px var(--dark-border-color) solid;
  border-left: 1px var(--dark-border-color) solid;
  border-bottom: 1px var(--dark-border-color) solid;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 1rem 1rem;
}





body {
  background-color: var(--dark-bg-color);
  font-family: "Inter", sans-serif;
  color: white;
  overflow-y: hidden;

}