/* Header Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Other Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins&display=swap');


/*

#
#
#   NAVBAR CODE
#
#

 */

html, body { margin: 0; padding: 0; }


/* Style the navbar */
#navbar {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #18181b;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 25px;
  width: 100%;

}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*
#
#
#   SIDEBAR CSS
#
#
*/

.sidebar {
  /*margin-top: 75px;*/
  top: 75px;
  padding-top: 30px;
  color: white;
  /*background-color: black;*/
  background-color: #09090b;

  position: fixed;
  height: calc(100% - 75px);
  width: 220px;
}

/* List containing all sidebar boxes */
.sidebar ul {
  margin-top: -5px;
}

/* Each Sidebar Box */
.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 110%;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  margin-left: -25px;
  margin-top: -5px;
}

/* Sidebar Image */
.sidebar svg {
  padding-right: 12px;
  padding-left: 10px;
  color: #71717a;
}

/* 'a' in each sidebar box */
.sidebar ul li a {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 7px;
}

/* Sidebar element that is being hovered */
.sidebar ul li a:hover {
  background-color: #161617;
}

/* Sidebar element that is selected */
.sidebar ul li.selected a {
  background-color: #161617;
  color: #62baf3;
}

/* SVG of the sidebar element that is selected */
.sidebar ul li.selected svg {
  color: #62baf3;
}


/*
#
#
#   PAGECONTENT CSS
#
#
*/

#page-content {
  /* Move box to the left and down (navbar and sidebar) */
  left: calc(225px + 250px);
  top: 73px;

  /*margin-top: 30px;*/
  width: 60%;
  height: 90%;
  position: absolute;

  /*display: flex;*/

}

#page-content.page-path {
  height: 20px;
  width: 20px;
  /*line-height: 20px;*/
}

#page-content.page-path svg {
  font-size: small;
}


#page-content #content {
  overflow-y: scroll;
  height: 100%;

  /*Hide Scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#page-content p {
  font-size: 16px;
}

#page-content hr {
  width: 99%;
  background-color: gray;
}


/*
#
#
#   COLLAPSABLE BOX
#
#
*/

/* Wrap Collapsible */
#page-content #content .wrap-collapsible {
  margin-bottom: 1.2rem;
}

/* Hide the Checkbox */
#page-content #content input[type='checkbox'] {
  display: none;
}

/* Label Toggle */
#page-content #content .lbl-toggle {
  display: block;
  font-weight: bold;
  padding: 1rem 1rem 1rem 25px;
  background: #18181b;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.25s ease-out;
  position: relative; /* Add relative positioning */
  height: 40px; /* Set the height */
  line-height: 40px; /* Center the text vertically */

  border: 1px #222224 solid;

}

#page-content #content .lbl-toggle:hover {
  /*color: #7C5A0B;*/
/*  TODO */
}

/* Arrow */
.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid currentColor; /* Point down */
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  vertical-align: middle;
  margin-left: .7rem; /* Change to margin-left */
  transition: transform .2s ease-out;
  position: absolute; /* Position absolutely */
  right: 1rem; /* Move to the right */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

/* Rotate the Arrow When Checked */
#page-content #content .toggle:checked + .lbl-toggle::before {
  transform: translateY(-50%) rotate(180deg); /* Point up */
}

/* Collapsible Content */
#page-content #content .collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .10s ease-in-out;
}

#page-content #content .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

#page-content #content .toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#page-content #content .collapsible-content .content-inner {
  background: #18181b;
  border-top: 1px #303032 solid;
  border-right: 1px #222224 solid;
  border-left: 1px #222224 solid;
  border-bottom: 1px #222224 solid;


  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}





body {
  background-color: #09090b;
  font-family: "Inter", sans-serif;
  color: white;
  overflow-y: hidden;

}