<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Notifier App</title>
    <link rel="stylesheet" href="../static/homepage.css" />
  </head>
  <body>
    <script src="../static/homepage.js"></script>
  </body>
</html>
<body>
  <div id="page">
    <!--Navbar at the top-->
    <div id="navbar">
      <b>Notifier App</b>
    </div>
    <!--Sidebar-->
    <div class="sidebar">
      <ul id="sidebar-ul">
        <li>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              data-darkreader-inline-stroke=""
              style="--darkreader-inline-stroke: currentColor"
            >
              <path d="M4 4h6v8h-6z"></path>
              <path d="M4 16h6v4h-6z"></path>
              <path d="M14 12h6v8h-6z"></path>
              <path d="M14 4h6v4h-6z"></path>
            </svg>
            <span class="nav-item">Home</span>
          </a>
        </li>
        <li>
          <a href="#reminders">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              data-darkreader-inline-stroke=""
              style="--darkreader-inline-stroke: currentColor"
            >
              <path d="M4 4h6v8h-6z"></path>
              <path d="M4 16h6v4h-6z"></path>
              <path d="M14 12h6v8h-6z"></path>
              <path d="M14 4h6v4h-6z"></path>
            </svg>
            <span class="nav-item">Reminders</span>
            <span class="number-box" id="reminder-number-box">0</span>
          </a>
        </li>
        <li>
          <a href="#notification-history">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              data-darkreader-inline-stroke=""
              style="--darkreader-inline-stroke: currentColor"
            >
              <path d="M4 4h6v8h-6z"></path>
              <path d="M4 16h6v4h-6z"></path>
              <path d="M14 12h6v8h-6z"></path>
              <path d="M14 4h6v4h-6z"></path>
            </svg>
            <span class="nav-item">Notification History</span>
          </a>
        </li>
        <li>
          <a href="#settings">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              data-darkreader-inline-stroke=""
              style="--darkreader-inline-stroke: currentColor"
            >
              <path d="M4 4h6v8h-6z"></path>
              <path d="M4 16h6v4h-6z"></path>
              <path d="M14 12h6v8h-6z"></path>
              <path d="M14 4h6v4h-6z"></path>
            </svg>
            <span class="nav-item">Settings</span>
          </a>
        </li>
      </ul>
    </div>

    <div id="page-content">
      <!-- body content -->

      <div id="#">
        <h1>Welcome to Notifier App!</h1>
        <br />
        <p>You can expand the following sections:</p>
        <!-- Collapsables here-->
        <!-- For unread notifications -->
        <div class="wrap-collapsible">
          <input id="unread-notifications" class="toggle" type="checkbox" />
          <label for="unread-notifications" class="lbl-toggle">
            Unread Notifications
            <span
              class="number-box"
              id="unread-notifs-number-box"
              style="display: none"
              >0</span
            >
          </label>
          <div class="collapsible-content">
            <div class="content-inner" id="unread-notifications-box">
              <!-- JS will add boxes here -->
              <!-- Template: -->
              <!--
                     <div class="unread-notification"><img src="../static/placeholder_image.png" alt=""><h3>Title</h3><p>Content</p></div>
                     -->
            </div>
          </div>
        </div>
        <hr />
        <br />
        <!-- For Upcoming Reminders -->
        <div class="wrap-collapsible">
          <input id="upcoming-reminders" class="toggle" type="checkbox" />
          <label for="upcoming-reminders" class="lbl-toggle"
            >Upcoming Reminders</label
          >
          <div class="collapsible-content">
            <div class="content-inner">
              <p>Ipsum Lorem</p>
            </div>
          </div>
        </div>
      </div>

      <div id="#reminders">

<!-- Breadcrumb -->
        <nav class="breadcrumb">
          <a href="#reminders" class="breadcrumb-parent">Reminders</a>

          <svg class="breadcrumb-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="false" data-slot="icon" width="20" height="20">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
          </svg>
          <a href="#reminders" class="breadcrumb-child">List</a>

        </nav>

        <div id="reminders-grid">
          <h1>Reminders</h1>
          <button
            id="create-reminder-button"
            onclick="location.href = '#create-reminder'"
          >
            Create Reminder
          </button>
          <br />
          <!--          <p>Reminders:</p>-->

          <div class="empty-category" id="reminders-empty">
            <div class="empty-category-svg-box">
              <svg
                class="fi-ta-empty-state-icon h-6 w-6 text-gray-500 dark:text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                ></path>
              </svg>
            </div>
            <br />
            <div class="empty-category-text">No Reminders</div>
          </div>

          <div class="table-wrapper">
            <table id="reminders-table">
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>At</th>
                <th></th>
              </tr>

              <!-- JS will add code here -->
            </table>
          </div>
        </div>
      </div>

      <div id="#notification-history">

        <nav class="breadcrumb">
          <a href="#notification-history" class="breadcrumb-parent">Notifications</a>

          <svg class="breadcrumb-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="false" data-slot="icon" width="20" height="20">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
          </svg>
          <a href="#notification-history" class="breadcrumb-child">History</a>

        </nav>

        <h1>Notification History</h1>
        <br />
        <!--        <p>Notification History Page</p>-->

        <div class="empty-category" id="notification-history-empty">
          <div class="empty-category-svg-box">
            <svg
              class="fi-ta-empty-state-icon h-6 w-6 text-gray-500 dark:text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              ></path>
            </svg>
          </div>
          <br />
          <div class="empty-category-text">No Notification History</div>
        </div>
        <div id="notification-history-boxes">
          <!--              Js will add code here -->
        </div>
      </div>

      <div id="#create-reminder">
        <nav class="breadcrumb">
          <a href="#reminders" class="breadcrumb-parent">Reminders</a>

          <svg class="breadcrumb-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="false" data-slot="icon" width="20" height="20">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
          </svg>
          <a href="#create-reminder" class="breadcrumb-child">Create</a>

        </nav>
        <h1>Create Reminder</h1>
        <br />
        <form>
          <div class="edit-reminder-box">
            <div class="form-wrapper">
              <div class="name-box">
                <label for="get-reminder-name">Name</label>
              </div>
              <div class="time-box">
                <label for="get-reminder-time">Time</label>
              </div>
              <div class="image-box">
                <label for="get-reminder-image">Image</label>
              </div>
              <div class="name-input-box">
                <input type="text" id="get-reminder-name" required />
                <br />
                <p>A simple and short name for this <br />reminder</p>
              </div>
              <div class="time-input-box">
                <input type="datetime-local" id="get-reminder-time" required />
                <p>The time at which the reminder will <br />remind</p>
              </div>
              <div class="image-input-box">
                <input type="text" id="get-reminder-image" />
                <p>Optional 100x100 image.</p>
              </div>
              <div class="description-box">
                <label for="get-reminder-description">Description</label>
              </div>
              <div class="description-input-box">
                <textarea
                  id="get-reminder-description"
                  rows="5"
                  cols="10"
                ></textarea>
                <p>An optional longer description</p>
              </div>
            </div>
          </div>
          <br />
          <input
            type="submit"
            value="Create"
            id="create-reminder-submit-button"
          />
          <button
            type="button"
            id="cancel-creating-reminder-button"
            onclick="location.href = '#reminders'"
          >
            Cancel
          </button>
        </form>
      </div>

      <div id="#settings">
        <nav class="breadcrumb">
          <a href="#notification-history" class="breadcrumb-parent">Settings</a>

          <svg class="breadcrumb-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="false" data-slot="icon" width="20" height="20">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
          </svg>
          <a href="#notification-history" class="breadcrumb-child">Settings</a>

        </nav>

        <h1>Settings</h1>
        <br />
        General Settings
        <br>
      <div class="general-settings-box" id="general-settings-box">
          <br />
          <div class="general-settings-box-text">Do not disturb mode</div>
        <div id="settings-dnd-button-box">
        <button id="settings-dnd-enable"></button>
          <button id="settings-dnd-disable"></button>
        </div>
        </div>


    </div>


    <div id="#view-email">

      <nav class="breadcrumb">
          <a href="#notification-history" class="breadcrumb-parent">Notifications</a>

          <svg class="breadcrumb-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="false" data-slot="icon" width="20" height="20">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
          </svg>
          <a href="#notification-history" class="breadcrumb-child">View Email</a>

        </nav>

      <h1>Email Viewer!</h1>
      <br />
      <div id="email-box">
        <div id="email-sender">

        </div>
        <div id="email-timestamp">

        </div>
        <div id="email-title">

        </div>
        <div id="email-body">

        </div>
      </div>
            </div>



      <div id="#view-reminder">
        <nav class="breadcrumb">
          <a href="#view-reminder" class="breadcrumb-parent">Reminders</a>

          <svg class="breadcrumb-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="false" data-slot="icon" width="20" height="20">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
          </svg>
          <a href="#view-reminder" class="breadcrumb-child">View</a>

        </nav>
      <h1>View Reminder</h1>
      <br />
      <div id="reminder-box">
        <div id="reminder-timestamp">
          123456

        </div>
        <div id="reminder-title">
          Title here
        </div>
        <div id="reminder-body">
          ipsum
        </div>
      </div>
      </div>


  </div>
  </div>
</body>
