<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../static/homepage.css">
  </head>
  <body>
	<script src="../static/homepage.js"></script>
  </body>
</html>

<body>

<!--Navbar at the top-->
<div id="navbar" class="sticky">
  <b>Notifier App</b>
</div>

<!--Sidebar-->
<div class="sidebar">
  <ul>

    <li>
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;">
          <path d="M4 4h6v8h-6z"></path>
          <path d="M4 16h6v4h-6z"></path>
          <path d="M14 12h6v8h-6z"></path>
          <path d="M14 4h6v4h-6z"></path>
        </svg>
        <span class="nav-item">Item 1</span>
      </a>
    </li>


    <li class="selected">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;">
          <path d="M4 4h6v8h-6z"></path>
          <path d="M4 16h6v4h-6z"></path>
          <path d="M14 12h6v8h-6z"></path>
          <path d="M14 4h6v4h-6z"></path>
        </svg>
        <span class="nav-item">Item 2</span>
      </a>
    </li>

  </ul>
</div>


<div id="page-content">
  <!-- body content -->
  <div class="page-path">
    Home
    <svg width='20px' height='20px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
    </svg>
    potato
  </div>


</div>


</body>